.project__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__title {
  font-size: 24pt;
  font-weight: 700;
}

.project__todos {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
}

.todos__column {
  display: flex;
  flex-direction: column;
  width: 250px;
  /* border: 1px solid grey; */
  padding: 20px;
}

.project__button {
  font-weight: 500;
  color: antiquewhite;
  background-color: cadetblue;
  width: 200px;
  border-radius: 15px;
  margin-top: 30px;
  padding: 15px 0;
  cursor: pointer;
}

.project__button:hover {
  filter: brightness(120%);
}

@media (min-width: 800px) {
  .projectcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 16px;
  }
}
