.projectcontainer {
}

.project__title {
  font-size: 24pt;
  font-weight: 700;
}

.project__todos {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.todos__column {
  display: flex;
  flex-direction: column;
  width: 250px;
  /* border: 1px solid grey; */
  padding: 20px;
}

@media (min-width: 800px) {
  .projectcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 16px;
  }
}
