.modal {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__container {
  margin-top: 100px;
  align-self: flex-start;
  background-color: antiquewhite;
  width: 400px;
  min-height: 500px;
}

.modal__header,
.modal__footer {
  padding: 10px;
}

.modal__content {
  padding: 10px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.modal__none {
  display: none;
}
