.comment {
  display: flex;
  flex-direction: column;
}

.comments__title {
  font-weight: 700;
}

.comment__container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(128, 128, 128, 0.7);
  border-width: 100%;
}

.comment__right {
  display: flex;
  flex-direction: column;
}

.comment__details {
  display: flex;
  flex-direction: row;
}

.comment__text {
  text-align: left;
  /* font-size: 12pt; */
}

.comment__author {
  color: olive;
  font-weight: 600;
  margin-right: 10px;
}

.comment__undercomments {
  margin: 5px 25px;
  font-size: 85%;
}

.comment__actions {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  font-size: 85%;

  justify-content: flex-end;
}

.comment__action {
  font-weight: 600;
  /* font-size: 10pt; */
  margin-right: 10px;
}
.comment__form__title {
  text-align: left;
  font-weight: 700;
}
